*{
  font-family: 'times New Roman','Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #7c9381;
  height: 15%;
  box-shadow: 0 2px 30px rgb(98, 117, 98);
}

main {
  position: relative;
  flex-grow: 1; 
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/premium_photo-1669740462478-135db9b990ea-transformed.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.35; 
  z-index: -1; /* Ensures the pseudo-element is behind the main content */
}

h2{
  padding: 1%;
}

#logo{
  height: 80px;
  width: 100%;
}

.logo-title > h1{
  padding-top: 10px;
  padding-left: 10px;
  align-self: center;
  margin-bottom: 10px;
  color: #05210c;
}

.logo-title{
  display: flex;
  justify-content:space-between;
}

/* .header nav{
  font-family: "Arial";
  font-weight: bold;
  opacity: 1;
 } */
 
.header nav{
   width: 30%;
   height: 40%;
   text-align: center;
   vertical-align: center;
   font-size: 130%;
 }

.header nav > a{
  color: #0a2c12;
  text-decoration: none;
  font-size: 115%;
 }

.header nav > a:hover{
  color: #bbd8c3;
 }

.title{
  text-align: center;
  padding: 5%;
  font-size: 100%;
  position: relative;
  color: #083412;
  opacity: 1;
}

#span-title{
  color: green;
}

#title-foot{
  color: rgb(51, 65, 55);
}

#divider{
  margin: 10 px;
  position: relative;
}

/* Responsive map container */
.int_map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 110%;
  height: 90%;
  max-width: 486px;
  margin: auto;
  opacity: 1;
}

.int_map > img {
  vertical-align: center;
  height: 130%;
  width: 130%;
  position: absolute;
  transform: translateX(0%);
}

/* Adjust the link positions based on the map size */
.int_map > a {
  position: absolute;
  color: black;
  text-decoration: none;
  opacity: 1;

}

.int_map a:hover{
  transform-origin: bottom;
  transition: all 0.5s;
  animation: bigfont 0.5s ease-in-out normal both;
}

/* Link positions based on a 486px by 513px map  */ 
.int_map .Kashmir { top: 10%; left: 38%; font-size: 18px; transform-origin: side                           ;}
.int_map .HP { top: 19%; left: 45%; font-size: 10px;}
.int_map .Punjab { top: 22%; left: 33%; font-size: 14px;}
.int_map .UK { top: 25%; left: 50%; font-size: 10px; }
.int_map .Hary { top: 27.3%; left: 37.5%; font-size: 10px;}
.int_map .Raj { top: 35%; left: 25%; font-size: 15px;}
.int_map .UP { top: 34%; left: 47%; }
.int_map .MP { top: 47%; left: 37%; }
.int_map .GJ { top: 47%; left: 23%; }
.int_map .BH { top: 39%; left: 68%; }
.int_map .JH { top: 45%; left: 64%; font-size: 13px;}
.int_map .OD { top: 55%; left: 64%; }
.int_map .CH { top: 53%; left: 56%; font-size: 50%;}
.int_map .MH { top: 56%; left: 35%; }
.int_map .TL { top: 65%; left: 46%; font-size: 13px;}
.int_map .AP { top: 74.5%; left: 45%; font-size: 10px;}
.int_map .KT { top: 79%; left: 37%; font-size: 12px;}
.int_map .Goa { top: 72%; left: 30%; }
.int_map .KL { top: 88%; left: 36%; font-size: 12px;}
.int_map .TN { top: 86%; left: 45%; font-size: 15px;}
.int_map .SK { top: 31%; left: 75%; font-size: 15px;}
.int_map .WB { top: 49%; left: 75%; font-size: 8.5px;}
.int_map .Assam { top: 36%; left: 86%; font-size: 16px;}
.int_map .MG { top: 40%; left: 83%; font-size: 10px;}
.int_map .TP { top: 45%; left: 85%; font-size: 10px;}
.int_map .MZ { top: 48%; left: 90%; font-size: 10px;}
.int_map .MaP { top: 42%; left: 95%; font-size: 13px;}
.int_map .NL { top: 37%; left: 97%; font-size: 13px;}
.int_map .ArP { top: 25%; left: 90%; }

/* Responsive font size adjustments */
@media (max-width: 768px) {
  .int_map > a {
    font-size: 2vw;
  }
}

/* Fine-tune positions for smaller screens */
@media (max-width: 480px) {
  .int_map .Kashmir { top: 10%; left: 38%; font-size: 25px;}
  .int_map .HP { top: 19%; left: 45%; font-size: 10px;}
  .int_map .Punjab { top: 22%; left: 33%; font-size: 14px;}
  .int_map .UK { top: 25%; left: 50%; font-size: 10px; }
  .int_map .Hary { top: 27.3%; left: 37.5%; font-size: 10px;}
  .int_map .Raj { top: 35%; left: 25%; font-size: 20px;}
  .int_map .UP { top: 34%; left: 47%; }
  .int_map .MP { top: 47%; left: 37%; }
  .int_map .GJ { top: 47%; left: 23%; }
  .int_map .BH { top: 39%; left: 68%; }
  .int_map .JH { top: 45%; left: 64%; font-size: 13px;}
  .int_map .OD { top: 55%; left: 64%; }
  .int_map .CH { top: 53%; left: 56%; font-size: 50%;}
  .int_map .MH { top: 56%; left: 35%; }
  .int_map .TL { top: 65%; left: 46%; font-size: 13px;}
  .int_map .AP { top: 74.5%; left: 45%; font-size: 10px;}
  .int_map .KT { top: 79%; left: 37%; font-size: 12px;}
  .int_map .Goa { top: 72%; left: 30%; }
  .int_map .KL { top: 88%; left: 36%; font-size: 12px;}
  .int_map .TN { top: 86%; left: 45%; font-size: 15px;}
  .int_map .SK { top: 31%; left: 75%; font-size: 15px;}
  .int_map .WB { top: 49%; left: 75%; font-size: 8.5px;}
  .int_map .Assam { top: 36%; left: 86%; font-size: 16px;}
  .int_map .MG { top: 40%; left: 83%; font-size: 10px;}
  .int_map .TP { top: 45%; left: 85%; font-size: 10px;}
  .int_map .MZ { top: 48%; left: 90%; font-size: 10px;}
  .int_map .MaP { top: 42%; left: 95%; font-size: 13px;}
  .int_map .NL { top: 37%; left: 97%; font-size: 13px;}
  .int_map .ArP { top: 25%; left: 90%; }
}

*::before,
*::after{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  margin: 0;
}

.footer{
  background-color: #dae4dd;
  width: 100%;
  text-align: center;
  box-shadow: 2px 0 30px rgb(98, 117, 98);
  padding-top: 35px;
  padding-bottom: 35px;
}

footer{
  padding-bottom: -100px;
}

#social {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  padding: 0;
  height: 20%;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  vertical-align: center;
  width: 100%;
  height: 10%;
}

.Con-text{
  margin-top: 0%;
}

.Con-text > h2,p{
  color: #144721;
}

.contact-info{
  font-weight: bold;
}

#social li{
  margin: 0 20px ;
}

.slideshow-container {
  position: relative;
  max-width: 75%; 
  margin: auto;
  align-self: center;
  box-sizing: border-box;
  margin-top: -3%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.mySlides {
  display: none;
}


@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  
}

.prev {
  left: 0;
  cursor: pointer;
}

.next {
  right: 0;
  cursor: pointer;
}

.socialMedia a{
  color: rgb(33, 59, 5);
  font-size: 25px;
}

.socialMedia a:hover{
  color: 
  rgb(70, 125, 15);
}

.footerMessage{
  padding-top: 22px;
  margin-top: 22px;
}

.footerMessage > p{
  color: rgb(147, 153, 147);
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#slideinfo{
  text-align: center;
}

.map-title{
  text-align: center;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 span{
  color: green;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(32, 82, 42); /* Set a background color */
  color: rgb(207, 220, 197); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #77a177; /* Add a dark-grey background on hover */
}

