*{
  font-family: 'times New Roman','Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #7c9381;
  height: 15%;
}

h2{
  padding: 1%;
}

#logo{
  height: 80px;
  width: 100%;
}

.logo-title > h1{
  padding-top: 10px;
  padding-left: 10px;
  align-self: center;
}

.logo-title{
  display: flex;
  justify-content:space-between;
}

.header .nav{
  display: flex;
  justify-content: space-between;
  text-align: 'center';
  font-family: "Arial";
  font-weight: bold;
 }
 
nav{
   width: 30%;
   font-family: 'Sans-serif';
   height: 40%;
   text-align: center;
   vertical-align: center;
   font-size: 130%;
   color: white;
 }

 nav > a{
  color: black;
  text-decoration: none;
 }



.title{
  text-align: center;
  padding: 5%;
  font-size: 100%;
  border: solid;
  position: relative;
}

#divider{
  margin: 10px;
  border: solid;
  position: relative;
}

.int_map{
  border-radius: 100 px;
  border-color: black;
  border: solid;
  flex: 1;
  height: 70%;
  position: relative;
}

.int_map > img{
  border: solid;
}

.footer{
  border: solid;
  box-sizing: border-box;
  background-color: #dae4dd;
  height: 10%;
  width: 100%;
  text-align: left;
  min-height: 65vh; 
  text-align: center;
  position: relative;
}

#social {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  padding: 0;
  margin: 20px 0 0 0;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid;  
}

#social li{
  margin: 0 20px ;
}

.slideshow-container {
  position: relative;
  max-width: 80%; 
  margin: auto;
  align-self: center;
  padding: 2px;
  box-sizing: border-box;
  border: solid;
}

.mySlides {
  display: none;
}


@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#slideinfo{
  text-align: center;
}